@import "variables";

#about-wrap {
  //text-align: center;
  //margin-top: 30px;
  .bio-pic {
    background-image: url(assets/me.jpg);
    background-size: cover;
    background-position: top;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px auto;
  }
  h1 {
    font-family: $font-title;
    //color: $accent;
    font-size: 72px;
    line-height: 72px;
    margin-left: 6%;
  }
  p,
  img {
    margin-left: 6%;
  }

  img {
    max-width: 400px;
    width: 100%;

    &.profile-img {
      border-radius: 50%;
      max-width: 160px;
      border: 5px $accent solid;
    }
  }

  .mern-stack {
    max-width: 700px;
  }
  .bio {
    text-align: left;

    p {
      line-height: 30px;
    }
  }
}
