footer {
  background-image: url(/assets/space.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 15px;
  text-align: center;
  .icons {
    .icon {
      
    }
  }
}