.project {
    position: relative;
    padding-top: 15%;
    width: 23%;
    margin: 1%;
    float: left;
    .project-title {
        position: absolute;
        top: 70%;
        width: 100%;  
        background: rgba(0, 0, 0, .8);
        color: #fff;
        padding: 5px 0;
    }
}