header {
    background-image: url(/assets/space.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    text-align: center;
    .nav-icons {
        margin-top: 15px;
    }
    img {
        max-width: 380px;
        width: 100%;
        height: auto;
    }
    .button-wrap {
        margin-top: 15px;
    }
}