.login-page {
    padding: 15px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
	label, input {
        display: block;
    }
    label {
        margin: 15px 0;
    }
    input {
        padding: 10px;
        font-size: 14px;
        width: calc(100% - 30px);
    }
}

