#resume-wrap {
    h2 {
        margin: 15px 0;
        text-decoration: underline;
    }
    #info-wrap {
        text-align: center;
        padding-bottom: 24px;
    }
    .job-description {
        margin-bottom: 5px;
    }
    ul {
        margin-left: 20px;
        li {
            margin-bottom: 5px;
        }
    }
    .button-wrap {
        text-align: center;
        margin: 15px 0;
    }
}
