#resume-wrap {
    h2 {
        margin: 15px 0;
        text-decoration: underline;
    }
    h3 {
        margin-bottom: 2px;
    }
    #info-wrap {
        text-align: center;
        padding-bottom: 24px;
    }
    .freelance-title {
        float: left;
    }
    .job-description {
        margin-bottom: 8px;
    }
    ul {
        margin-left: 20px;
        li {
            margin-bottom: 5px;
        }
    }
    ul.col {
        width: calc(20% - 20px);
        float: left;
    }
    .button-wrap {
        text-align: center;
        margin: 15px 0;
        button {
            margin: 0 10px 5px 10px;
        }
    }
}