@import "variables";

.main-side-bar {
  background: $grey-secondary;
  width: 170px;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  position: fixed;
  //border-right: 1px $grey solid;

  .sidebar-logo {
    width: 100%;
  }

  .link-item {
    display: block;
    padding: 24px 15px;
    border-bottom: 1px solid $light-gray;
    color: $light-gray;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $accent;
    }
  }
}

@media screen and (max-width: 980px) {
  .main-side-bar {
    display: none;
  }
}
