.single-code {
    img {
        width: 100%;
        max-width: 550px;
    }
    .project-meta {
        float: left;
        width: calc(100% - 610px);
        padding: 15px 30px;
        h1.project-title {
            font-size: 45px;
            margin-bottom: 24px;
        }
        .project-desc {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 900px) {
    .single-code {
        h1.project-title {
            margin-bottom: 15px;
        }
        img {
            width: 100%;
            max-width: 100%;
        }
        img.left {
            float: none;
        }
        .project-meta {
            float: none;
            width: 100%;
            padding: 15px 0;
        }
    }
}