// color variables
$white: #ffffff;
$black: #000000;
$light-gray: #777777;
$grey-primary: #1d1d1d;
$grey-secondary: #181818;
$accent: #1c6fb5;

// font variables
$font-title: "League Gothic", sans-serif; //"Archivo Black", sans-serif;
$font-tag: "Courgette", cursive;
$font-body: Arial;
