.button-wrap {
	margin-top: 15px;
}
button {
  color: #fff;
  background: #146db4;
  /* border: 1px #000 solid; */
  border-radius: 5px;
  padding: 15px 17px 15px 15px;
  font-size: 14px;
  margin-right: 15px;
  text-shadow: 1px 1px 1px #525151;
  margin-bottom: 5px;
}
