.button-wrap {
	margin-top: 15px;
}
button {
  color: #fff;
  background: rgba(255, 255, 255, .5);
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 15px;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 5px;
}
