#about-wrap {
  margin-top: 30px; }
  #about-wrap .bio-pic {
    background-image: url(assets/me.jpg);
    background-size: cover;
    background-position: top;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px auto; }
  #about-wrap h1 {
    font-family: "Archivo Black", sans-serif;
    color: #1c6fb5;
    font-size: 60px;
    margin-left: 6%; }
  #about-wrap p {
    margin-left: 6%; }
  #about-wrap .mern-stack {
    max-width: 700px; }
  #about-wrap .bio {
    text-align: left; }
    #about-wrap .bio p {
      line-height: 30px; }
