.App {
  width: 100%;
  margin-left: 170px; }
  .App .inner {
    padding: 15px; }
  .App .center {
    text-align: center; }
  .App .v-space-15 {
    margin: 15px 0; }
  .App .v-space-30 {
    margin: 30px 0; }

.loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Safari */ }
  .loading-screen .loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .loading-screen .loader {
    text-align: center;
    border: 12px solid #fff;
    border-radius: 50%;
    border-top: 12px solid transparent;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    opacity: 0.5; }
  .loading-screen p {
    color: #fff;
    margin-top: 10px;
    opacity: 0.5; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
