.header {
  display: none; }
  .header header {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    padding: 25px 15px 6px 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    text-align: center; }
    .header header .nav-icons {
      margin-top: 15px; }
    .header header img {
      max-width: 380px;
      width: 100%;
      height: auto; }
    .header header .welcome {
      position: absolute;
      top: 12px;
      right: 45px;
      color: #ffffff;
      width: 80px; }

@media screen and (max-width: 980px) {
  .header {
    display: block; } }

@media screen and (max-width: 480px) {
  header {
    padding: 42px 15px 6px 15px; } }
