header {
  background-image: url(/assets/space.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 15px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
  z-index: 99;
  text-align: center; }
  header .nav-icons {
    margin-top: 15px; }
  header img {
    max-width: 380px;
    width: 100%;
    height: auto; }
