.login-page {
  padding: 90px 15px;
  max-width: 400px;
  margin: 0 auto; }
  .login-page label,
  .login-page input {
    display: block; }
  .login-page label {
    margin: 15px 0; }
  .login-page input {
    padding: 10px;
    font-size: 14px;
    width: calc(100% - 30px); }
