.app .inner {
  padding: 15px; }

.app .center {
  text-align: center; }

.app .v-space-15 {
  margin: 15px 0; }

.app .v-space-30 {
  margin: 30px 0; }

.loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/assets/space.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Safari */ }
  .loading-screen .loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .loading-screen .loader {
    text-align: center;
    border: 12px solid #fff;
    border-radius: 50%;
    border-top: 12px solid transparent;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    opacity: .5; }
  .loading-screen p {
    color: #fff;
    margin-top: 10px;
    opacity: .5; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#about-wrap {
  text-align: center; }
  #about-wrap .bio-pic {
    background-image: url(/assets/me.jpg);
    background-size: cover;
    background-position: top;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px auto; }
  #about-wrap .mern-stack {
    max-width: 700px; }
  #about-wrap .bio {
    text-align: left;
    margin: 0 auto;
    padding: 15px;
    max-width: 800px; }

* {
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }
  body .group:after {
    content: "";
    display: table;
    clear: both; }
  body .material-icons {
    padding: 10px;
    color: #fff; }
  body .nav-icons {
    margin-top: 15px; }
  body .inner {
    padding: 15px; }
  body .related-projects #code-examples.inner {
    padding: 0 5px 10px 5px; }
  body .related-projects h2.more-projects {
    padding: 15px 15px 0 15px; }
  body .center {
    text-align: center; }
  body .left {
    float: left; }
  body .right {
    float: right; }
  body .max-960 {
    max-width: 960px;
    margin: 0 auto; }
  body button {
    color: #fff;
    background: #146db4;
    border-radius: 5px;
    padding: 15px 17px 15px 15px;
    font-size: 14px;
    text-shadow: 1px 1px 1px #525151;
    margin: 0 10px 5px 10px; }

#resume-wrap h2 {
  margin: 15px 0;
  text-decoration: underline; }

#resume-wrap #info-wrap {
  text-align: center;
  padding-bottom: 24px; }

#resume-wrap .job-description {
  margin-bottom: 5px; }

#resume-wrap ul {
  margin-left: 20px; }
  #resume-wrap ul li {
    margin-bottom: 5px; }

header {
  background-image: url(/assets/space.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 15px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  text-align: center; }
  header .nav-icons {
    margin-top: 15px; }
  header img {
    max-width: 380px;
    width: 100%;
    height: auto; }
  header .button-wrap {
    margin-top: 15px; }

footer {
  background-image: url(/assets/space.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 15px;
  text-align: center; }

.project {
  position: relative;
  padding-top: 16%;
  width: 25%;
  float: left; }
  .project .inner {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px #000 solid; }
    .project .inner .project-title {
      position: absolute;
      top: 70%;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 10px 0;
      font-size: 14px; }

@media screen and (max-width: 1100px) {
  .project {
    padding-top: 21%;
    width: 33.3333%; } }

@media screen and (max-width: 800px) {
  .project {
    padding-top: 30%;
    width: 50%; } }

@media screen and (max-width: 550px) {
  .project {
    padding-top: 60%;
    width: 100%; }
    .project .inner {
      position: absolute;
      right: 0;
      left: 0; } }
